<!-- Footer -->
<footer class="page-footer font-small blue justify-content-center background_gray align-middle">
    <div class="footer-copyright text-center py-3">
        <p class="text-left font-size-11 inline-block">Created by Shahan Krakirian</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p class="text-right font-size-11 inline-block">
            <a href="https://www.linkedin.com/in/shahan-krakirian/">LinkedIn</a>&nbsp;
            <a href="https://github.com/ShahanKrakirian">GitHub</a>&nbsp;
            <a href="https://shahankrakirian.com">Portfolio</a>
        </p>
    </div>              
</footer>