{% load has_bid %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Placeholder</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="{% static 'project/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    <link rel="stylesheet" href="{% static 'project/bootstrap.min.css' %}">
</head>
<body class="background background_white fixed-navbar-padding">

    <!--Nav-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Helping Hand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link font-size-13" href="/user/{{request.session.id}}">My Profile <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-size-13" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br>

    <div id="home-row" class="row justify-content-center">
        <div class="col col-md-2 offset-md-1">
                <!-- Modal Trigger -->
                <a class="font-size-11 left-24" href="/task/add" data-toggle="modal" data-target="#exampleModalCenter">Create a Task</a>
                <br><br>
                <ul class="font-size-11">
                    <li>Order By Uploader (Soon)</li>
                    <li>Order By Pay (Soon)</li>
                    <li>Order By Zip Code (Soon)</li>
                </ul>
        </div>
        <div class="col col-md-7 overflow">
            <table class="table table-sm table-responsive font-size-11">
                <thead class="thead-light">
                    <tr>
                        <th>Title</th>
                        <th class="text-center">Image</th>
                        <th>Uploader</th>
                        <th class="width-30">Description</th>
                        <th>Pay</th>
                        <th>Zip</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for task in available_tasks %}
                <tr>
                    <td>{{task.title}}</td>
                    <td>
                        <div class='size_small image-size'>
                            <img src='{{task.image.url}}'>
                        </div>
                    </td>
                    <td><a href="user/{{task.uploaded_by.id}}">{{task.uploaded_by.name}}</a></td>
                    <td>{{task.description}}</td>
                    <td>${{task.price}}</td>
                    <td>{{task.zip_code}}</td>
                    <td>
                        {% if not logged_user.id|has_bid:task.id %}
                        <a href="/task/{{task.id}}/bid">Help {{task.uploaded_by.name}}</a>
                        {% else %}
                        <a href="/task/{{task.id}}/remove-bid">Remove Offer</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <br><br><br>

    <!-- Footer -->
    <footer class="page-footer font-small blue justify-content-center background_gray align-middle">
        <div class="footer-copyright text-center py-3">
            <p class="text-left font-size-11 inline-block">Created by Shahan Krakirian</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p class="text-right font-size-11 inline-block">
                <a href="https://www.linkedin.com/in/shahan-krakirian/">LinkedIn</a>&nbsp;
                <a href="https://github.com/ShahanKrakirian">GitHub</a>&nbsp;
                <a href="https://shahankrakirian.com">Portfolio</a>
            </p>
        </div>              
    </footer>

      
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create a Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
            <form class="font-size-11" id="createTask" action="/task/add/process" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type='text' name='title' placeholder="Title" pattern=".{4,}" required title="4 characters minimum">
                </div>
                <div class="form-group">
                    <textarea name="description" cols="50" rows="10" placeholder="Description" pattern=".{10,}" required title="10 characters minimum"></textarea>
                </div>
                <div class="form-group">
                    <input type="number" name="pay" min=".01" step=".01" placeholder="Pay">
                </div>
                <div class="form-group">
                    <input type='text' name='zip_code' required pattern="[0-9]{5}" placeholder="Five Digit Zip">
                </div>
                <div class="form-control-file">
                    Add an Image:
                    <input type='file' name='image' accept="image/*">
                </div>
            </form>
            <!--Error Messages-->
            {% if messages %} 
                {% for message in messages %}
                    <p class='red'>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-sm btn-info" form="createTask" type="submit" value='Create Task'>Create Task</button>
        </div>
        </div>
    </div>
    </div>    

</body>
</html>